body {
  background: black;
}
.main{
  color: white;
}
.io{
	color:white;
}
.first{
	float:left;
	color:white;
	width: 74%;
}
.second{
	float:right;
	width: 24%;
	color:white;
}
.ots{
	margin-left: 10px;
}
.down{
	color:white;
	margin-top: 130px;
	margin-left: 30px;
}
.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии /
    padding: 15px; / Расстояние от картинки до рамки /
    background: #666; / Цвет фона /
    margin-right: 10px; / Отступ справа /
    margin-bottom: 10px; / Отступ снизу /
    text-align: center; / Выравнивание по центру /
    display: inline-block; / Строчно-блочный элемент /
   }
   .photo {
       text-align: center; / Выравнивание по центру /
    display: inline-block; / Строчно-блочный элемент */
}
.text{
	text-align: center;
}